<legend>Sign up</legend>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :firstname, :required => true, :autofocus => true %>
    <%= f.input :lastname, :required => true%>
    <%= f.input :email ,:required => true%>
    <%= f.input :contact_no, :required =>true %>    
    <%= f.input :language, :required =>true %>
    <label for="user_type" class="control-label">Country</label>
    <div class="controls " id="country">
    <%= f.country_select :country, nil, :required => true,:html=>{:class=>"selectpicker"} %>
    </div><br />
    <%= f.input :password, :required => true %>    
    <%= f.input :password_confirmation, :required => true %>
    <% f.file_field :avatar %>
    <label for="user_type" class="control-label">Who are you?</label>
    <div class="controls" id="who_are_you"> 
    	<%= f.hidden_field :role, :value => 'client' %>
    
<div class="make-switch who_btn" data-on="warning" data-off="danger"><input type="checkbox" class="who_btn" checked></div>
            
   </div>   <br />
   <!-- <div class="span2">
   	<pre class="prettyprint" style="text-align: right">
      <button class="btn btn-primary" type="submit">Save</button>
    </pre>
   </div> -->
  <div class="actions span4">
  	<p style="text-align: center">
    <%= f.button :submit, "Sign up",:class=>"btn-primary btn-lg" %>
    </p>
  </div>
<% end %>

<%= render :partial => "devise/shared/links" %>
