<div class="control-group">
 <%= port.label :title%>
 <div class="controls">
<%=port.text_field :title%>
</div></div>
<div class="control-group">
<%= port.label :description%>
<div class="controls">
<%=port.text_field :description%>
</div></div>
<div class="control-group">
<%= port.label :avatar%>
<div class="controls">
<%=port.file_field :avatar%>
</div></div>