

	
	
	<div id="content" class="clearfix">
		<section id="left">
			<div id="userStats" class="clearfix">
				<div class="pic">
					<%unless @user.avatar.blank?%>
					<a data-toggle="modal" href="#image-change-modal"><%= image_tag @user.avatar.url ,:width=>"150",:height=>"150" %></a>
					<%else%>
					<a data-toggle="modal" href="#image-change-modal"><img src="../assets/user_avatar.jpg" width="150" height="150" /></a>
				    <%end%>
				</div>
				
				<div class="data">
					<h1><%=current_user.firstname%></h1>
					<h3><%=current_user.country%></h3>
					<h4><a href="http://spyrestudios.com/">http://spyrestudios.com/</a></h4>
					<div class="socialMediaLinks">
						<a href="http://twitter.com/jakerocheleau" rel="me" target="_blank"><img src="../assets/twitter.png" alt="@jakerocheleau" /></a>
						<a href="http://gowalla.com/users/JakeRocheleau" rel="me" target="_blank"><img src="../assets/gowalla.png" /></a>
					</div>
					<div class="sep"></div>
					<ul class="numbers clearfix">
						<li>Reputation<strong>185</strong></li>
						<li>Checkins<strong>344</strong></li>
						<li class="nobrdr">Days Out<strong>127</strong></li>
					</ul>
				</div>
			</div>
			
			<legend>About me:</legend>			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		    <legend>Qualification:</legend>
		    <%= render "qualification"%>
		    <legend>Experience:</legend>
		    <%= render "experience"%>
		    <%unless current_user.role=="Client"%>
		    <legend style="border-color:">Skill:</legend>
		    <hr />
		    <%= render "skills"%>
		    <%end%>
		    <legend>Portfolio:</legend>
		    <%= render "portfolio"%>
		    <legend>Work History:</legend>
		    <%= render "history"%>
		    <legend>Resume</legend>
		    <%= render "attached_document"%>
		   
		</section>
		<div class="modal hide fade" id="image-change-modal" style="display: none; ">
     <%= render 'change_image'%>
       </div>
	</div>
